.gitattributes crlf
.gitignore crlf
.travis.yml crlf
CONTRIBUTING.md crlf
ChangeLog crlf
Dockerfile crlf
README.md crlf
Rakefile crlf
TODO crlf
ruby-filemagic.gemspec crlf
test/excel-example.xls -crlf
test/perl crlf
test/pyfile crlf
*.rb crlf
*.c crlf
*.h crlf
*.mgc -crlf
*.gz -crlf
