*.c crlf
*.gz -crlf
*.h crlf
*.md crlf
*.mgc -crlf
*.rb crlf
.gitattributes crlf
.gitignore crlf
.rubocop.yml crlf
.travis.yml crlf
Dockerfile crlf
Gemfile crlf
Rakefile crlf
TODO crlf
ruby-filemagic.gemspec crlf
test/a-text-file crlf
test/excel-example.xls -crlf
test/perl crlf
test/pyfile crlf
